<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>

    <h1>Lista de Produtos</h1>

    <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>

    <hr>

    {% if produtos %}
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Data de Cadastro</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>{{ produto.data_cadastro|date:"d/m/Y H:i" }}</td>
                        <td>
                            <a href="{% url 'editar_produto' produto.id %}">Editar</a>
                        |
                            <a href="{% url 'excluir_produto' produto.id %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}

</body>
</html>